table {
    width: 90%;
    border-collapse: collapse;
    page-break-inside: auto;
}

td, th {
    border: 2px solid gray;
    padding: 0.938rem;
    font-size: 1.375rem;
    text-align: center;
    min-width: 7rem;
    height: 3rem;
}

table thead {
    display: table-header-group;
}

table tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

table th {
    background-color: #eaeaea;
    break-inside: avoid;
}

.header {
    text-align: center;
    padding-bottom: 2.188rem;
    padding-top: 0.625rem;
}